body {
    background: url('../assets/images/desk-bg.jpg') no-repeat center fixed,
    url('../assets/images/second-bg.jpg');
    background-size: 1600px 900px, cover;
}

.abs-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}

.gif-modal {
    position: absolute;
    left: 154px;
    top: 71px;
}

.start-button {
    position: absolute;
}

#easy {
    left: 250px;
    top: 305px;
}

#medium {
    left: 500px;
    top: 105px;
}

#hard {
    left: 750px;
    top: 305px;
}

.start-button button {
    font-family: zapfino;
    font-size: 15px;
    width: 130px;
    border-radius: 5px;
    background: linear-gradient(17deg, rgba(230,229,229,1) 9%, rgba(246,240,240,0) 95%);
    cursor: pointer;
    padding-top: 10px;
    padding-right: 8px;
}

.attribution-block {
    position: absolute;
    right: 1115px;
    bottom: 490px;
    display: flex;
    flex-direction: column;
    width: 110px;
    font-family: palatino;
    transform: rotate(-14deg);
    font-size: 12px;
}

.attribution {
    position: absolute;
    transform: rotate(-10deg);
}

.first-part {
    font-family: palatino;
    font-size: 12px;
}

.second-part {
    font-family: zapfino;
    font-size: 14px;
    font-weight: bold;
}

.horizontal-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.canvas-container {
    height: 540px;
    width: 810px;
    cursor: url('../assets/images/pen-cursor.png'), pointer;
}

.title-header {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 10px;
}

h1 {
    font-family: zapfino;
    font-size: 30px;
    line-height: 30px;
    margin: 0;
}

.keyboard-controls-container {
    width: 130px;
    height: 400px;
}

#audio-button {
    border: 1px solid darkgray;
    border-radius: 3px;
    padding: 5px 12px 0 5px;
    font-family: zapfino;
    background: rgb(230,229,229);
    background: linear-gradient(17deg, rgba(230,229,229,1) 9%, rgba(246,240,240,0) 95%);
    cursor: pointer;
    margin-top: 10px;
}

#audio-button:hover {
    border: 1px solid black;
}

#color-selector {
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
    margin-top: 10px;
}

.color-choice {
    width: 32px;
    height: 32px;
    border: 2px solid transparent;
    border-radius: 50%;
    margin: 3px;
}

#choice-black {
    background-color: black;
}

#choice-cyan {
    background-color: cyan;
}

#choice-red {
    background-color: red;
}

#choice-yellow {
    background-color: yellow;
}

#choice-purple {
    background-color: purple;
}

#choice-green {
    background-color: green;
}

.active-color {
    border: 2px solid gray;
}

.links-container {
    width: 130px;
    height: 400px;
    position: relative;
    left: 20px;
}   

.links-container h2 {
    margin-left: 23px;
}

h2 {
    font-family: zapfino;
    text-decoration: underline;
}

ul {
    list-style: none;
}

li {
    padding-bottom: 10px;
    font-family: palatino;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-icon {
    display: block;
    max-width: 80px;
    max-height: 100px;
    padding-bottom: 20px;
}