body {
    background: url('../assets/images/desk-bg.jpg') no-repeat center fixed,
    url('../assets/images/second-bg.jpg');
    background-size: 1600px 900px, cover;
}

.abs-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}

.horizontal-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.canvas-container {
    height: 540px;
    width: 810px;
}

.title-header {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 10px;
}

h1 {
    font-family: zapfino;
    font-size: 30px;
    line-height: 30px;
    margin: 0;
}

.keyboard-controls-container {
    /* border: 1px solid black;
    border-radius: 3px; */
    width: 130px;
    height: 400px;
}

.links-container {
    /* border: 1px solid black;
    border-radius: 3px; */
    width: 130px;
    height: 400px;
}

h2 {
    font-family: zapfino;
}

ul {
    list-style: none;
}

li {
    padding-bottom: 10px;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-icon {
    width: 80px;
    padding-bottom: 20px;
}