body {
    background: url('../assets/images/desk-bg2.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.abs-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}

.horizontal-container {
    display: flex;
    justify-content: center;
}

.canvas-container {
    height: 540px;
    width: 810px;
}

.title-header {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 10px;
}

h1 {
    font-family: zapfino;
    font-size: 30px;
    line-height: 30px;
    margin: 0;
}

.keyboard-controls-container {
    background: darkgray;
    width: 130px;
}

.links-container {
    background: darkgray;
    width: 130px;
}

h2 {
    font-family: zapfino;
}

ul {
    list-style: none;
}

li {
    padding-bottom: 10px;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-icon {
    width: 80px;
    padding-bottom: 20px;
}